.actionbar {
    transition: height 1s ease;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.actionbar.is-active {
    height: auto;
}

.notification-custom {
    position: fixed;
    width: 90%;
    left: 5%;
    z-index: 100;
    top: 0;
}

.popover {
    position: absolute;
}